<div class="mx-sm-4 bg-light border-top border-secondary-subtle ">
  <div class="footer d-flex justify-content-between mt-3">
    <div class="details">
      <ul class="text-dark d-flex flex-column flex-sm-row">
        <li type="none" class="text-dark pe-5">&copy;2024 Airbnb,Inc.</li>
        <li>
          <a href="#"
            class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover pe-5">Privacy</a>
        </li>
        <li>
          <a href="#"
            class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover pe-5">Terms</a>
        </li>
        <li>
          <a href="#"
            class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover pe-5">Company
            Details</a>
        </li>
      </ul>
    </div>
    <div class="social-links d-flex flex-column flex-sm-row">
      <a href="https://www.facebook.com" target="_blank"><i
          class="fa-brands fa-square-facebook text-dark fs-4 pe-3"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i
          class="fa-brands fa-square-x-twitter text-dark fs-4 pe-3"></i></a>
      <a href="https://www.instagram.com" target="_blanko"><i
          class="fa-brands fa-square-instagram text-dark fs-4 pe-5"></i></a>
    </div>
  </div>
</div>